name: Release

on:
  release:
    types: [published]

jobs:
  build:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Generate release manifests
        run: make release-manifests

      - name: Get release
        id: get_release
        uses: bruceadams/get-release@v1.3.2
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: Upload to Quay
        run: |
          podman login -u="${{ secrets.QUAY_BOT }}" -p="${{ secrets.QUAY_PASSWORD }}" quay.io
          export IMG_TAG="${{ steps.get_release.outputs.tag_name }}"
          make build-container
          make push-container

      - name: Upload generated release manifests
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          upload_url: ${{ steps.get_release.outputs.upload_url }}
          asset_path: _out/vm-console-proxy.yaml
          asset_name: vm-console-proxy.yaml
          asset_content_type: text/plain

      - name: Trigger ssp-operator
        uses: peter-evans/repository-dispatch@v2
        with:
          token: ${{ secrets.GH_ACCESS_TOKEN }}
          repository: kubevirt/ssp-operator
          event-type: release-vm-console-proxy
          client-payload: '{"release_version": "${{ steps.get_release.outputs.tag_name }}"}'
